<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 2</title>
    <script src="../static/main.js"></script>
</head>
<body>
    <form action="POST" onsubmit="handleSubmit(event)" validate>
        <input type="text" name="username" placeholder="Username Here." required>
        <input type="email" name="email" placeholder="Email Please." required>
        <input type="text" name="message" placeholder="Type Your Message." required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>