<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 3</title>
    <script src="../static/main.js"></script>
</head>
<body>
    <div id="box" onclick="changeBlue()">Click me to change color</div>
    <div id="box2" onclick="changeRed()">Click me to change color</div>
    <div id="box3" onclick="changePink()">Click me to change color</div>
    <div id="box4" onclick="changeGreen()">Click me to change color</div>
    <div id="box5" onclick="changePurple()">Click me to change color</div>
    <div id="hoverText" onmouseover="changeColor()"><h1>Hover Over This To Change Color</h1></div>
</body>
</html>